<form action="/Tarefas/CadastroTarefas" method="POST">

<label>
    Nome
    <input type="text" name="nome">
</label>

<label>
    Descrição
    <input type="text" name="descricao">
</label>

<label>
    Tipo
    <select  name="tipo">
        <option value="">Selecionar</option>
        <option value="parafazer">Para fazer</option>
        <option value="fazendo">Fazendo</option>
        <option value="feito">Feito</option>
    </select>
</label>

<button type="submit">Salvar</button>

</form>