<form action="/Usuario/Cadastro" method="POST">

<label>
    Nome
    <input type="text" name="nome">
</label>

<label>
    Email
    <input type="text" name="email">
</label>

<label>
    Senha
    <input type="password" name="senha">
</label>

<label>
    Tipo
    <select  name="tipo">
        <option value="">Selecionar</option>>
        <option value="Usuário">Usuário</option>>
        <option value="Administrador">Administrador</option>>
    </select>
</label>

<button type="submit">Salvar</button>

</form>